<form method="post" action="{{ path('admin_doc_delete', {'id': doc.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce congres?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doc.id) }}">
    <a class="dropdown-item" ><button class="btn btn-delete p-0">Supprimer</button></a>
</form>
