{% extends 'base.html.twig' %}

{% block title %}Congrès - Incyte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 pt-12 text-center">
                <img src="{{ asset('img/logo-bleu.png') }}" class="pt-5" width="120" alt=""/>
                <h3 class="text-primary pt-5">Cette partie sera disponible lors du congrès.</h3>
                <br>
                <p class="text-primary">Merci de revenir à ce moment afin d'accéder à tous nos documents.</p>
                <a href="{{ path('congres_home', {id: congres.id}) }}">
                    <button class="btn btn-primary">Retourner à la page précédente</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
