{% extends 'base.html.twig' %}

{% block title %}Congrès - Incyte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 pt-12 text-center">
                <img src="{{ asset('img/logo-bleu.png') }}" class="pt-5" width="120" alt=""/>
                <h3 class="text-primary pt-5">Contenu indisponible</h3>
                <br>
                <button class="btn btn-primary" onclick="window.history.go(-1); return false;">Retourner à la page précédente</button>
            </div>
        </div>
    </div>
{% endblock %}
